<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-light border-bottom shadow-sm">   
   <h4 class="my-2 mr-md-auto font-weight-bold text-nowrap">
      <a class="text-decoration-none" href="//{{{getHostnameFromUrl defaultOrigin}}}">
         {{{mainTitle}}}
      </a>
   </h4>
   <h5 class="my-0 ml-4 mr-md-auto font-weight-small"><small>{{{siteDescription}}}</small></h5>
   <nav class="my-2 ml-2 my-md-0 mr-md-3">
      <a class="p-2 text-dark" href="/docs">Documentação API JSON</a>
      <a class="p-2 text-dark" href="/self-hosting">Self-hosting</a>
      <span class="p-2 text-dark text-decoration-none">Pedidos / hora: {{{requestsLastHour}}}</span>
      <span class="p-2 text-dark text-decoration-none">Pedidos / dia: {{{requestsLastDay}}}</span>
   </nav>
   <a class="btn btn-outline-primary" href="/request-api-key">Pedir chave</a>
</div>