<div id="header_wrap" class="outer">
   <header class="inner">
      <a id="forkme_banner" href="/self-hosting">Uso ilimitado</a>
      <h1 id="project_title"><a href="//{{{getHostnameFromUrl defaultOrigin}}}">{{{getHostnameFromUrl defaultOrigin}}}</a></h1>
      <h2 id="project_tagline">{{{siteDescription}}}</h2>
      <a href="/docs">
         <img src="https://img.shields.io/badge/JSON API-Documentation-informational" alt="API documentation">
      </a>
      <a href="/self-hosting">
         <img src="https://img.shields.io/badge/Uso%20ilimitado-Self%20hosting-informational" alt="Self-hosting">
      </a>
      <a href="/request-api-key">
         <img src="https://img.shields.io/badge/Uso%20ilimitado-Pedir chave-informational" alt="Pedir chave">
      </a>
      <img src="https://img.shields.io/endpoint?url={{{defaultOrigin}}}/shieldsio/requestslasthour" alt="Requests on last hour">
      <img src="https://img.shields.io/endpoint?url={{{defaultOrigin}}}/shieldsio/requestslastday" alt="Requests on last day">
   </header>
</div>