<meta charset="utf-8">
<title>{{{ pageTitle }}}</title>

<meta name="title" content="{{{ pageTitle }}}">
<meta name="description" content="{{{siteDescription}}}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{{defaultOrigin}}}">
<meta property="og:title" content="{{{ pageTitle }}}">
<meta property="og:description" content="{{{siteDescription}}}">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="{{{defaultOrigin}}}">
<meta property="twitter:title" content="{{{ pageTitle }}}">
<meta property="twitter:description" content="{{{siteDescription}}}">
<meta property="twitter:image:src" content="{{{defaultOrigin}}}/icons/apple-touch-icon-152x152.png">

<!-- Images for social sharing -->
<meta property="og:image" content="{{{defaultOrigin}}}/icons/apple-touch-icon-152x152.png">
<meta property="og:image:secure_url" content="{{{defaultOrigin}}}/icons/apple-touch-icon-152x152.png">
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="152">
<meta property="og:image:height" content="152">
<meta property="og:image:alt" content="An icon representing a the logo of this website">

<meta property="og:image" content="{{{defaultOrigin}}}/icons/apple-touch-icon-144x144.png">
<meta property="og:image:secure_url" content="{{{defaultOrigin}}}/icons/apple-touch-icon-144x144.png">
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="144">
<meta property="og:image:height" content="144">
<meta property="og:image:alt" content="An icon representing a the logo of this website">

<meta property="og:image" content="{{{defaultOrigin}}}/icons/favicon-32x32.png">
<meta property="og:image:secure_url" content="{{{defaultOrigin}}}/icons/favicon-32x32.png">
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="32">
<meta property="og:image:height" content="32">
<meta property="og:image:alt" content="An icon representing a the logo of this website">

<meta property="og:image" content="{{{defaultOrigin}}}/icons/favicon-16x16.png">
<meta property="og:image:secure_url" content="{{{defaultOrigin}}}/icons/favicon-16x16.png">
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="16">
<meta property="og:image:height" content="16">
<meta property="og:image:alt" content="An icon representing a the logo of this website">

<!-- Favicons and Icons -->
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/icons/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/icons/apple-touch-icon-152x152.png">
<link rel="icon" type="image/png" href="/icons/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/icons/favicon-16x16.png" sizes="16x16">
<meta name="application-name" content="GEO API PT">
<meta name="msapplication-TileColor" content="#FFFFFF">
<meta name="msapplication-TileImage" content="{{{defaultOrigin}}}/icons/mstile-144x144.png">
<meta name="msapplication-square310x310logo" content="{{{defaultOrigin}}}/icons/mstile-310x310.png">

<!-- CSS -->
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/map.css">
<link rel="stylesheet" href="/css/bootstrap.css">

<!-- Sitemap -->
<link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap-index.xml.gz">

<!-- Better view on mobile devices -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<!-- For the Progressive Web App (PWA) -->
<link rel="manifest" href="/manifest.json">
<script src="/register-service-worker.js"></script>