<meta charset="utf-8">
<title>{{{ pageTitle }}}</title>

<meta name="title" content="{{{ pageTitle }}}">
<meta name="description" content="{{{siteDescription}}}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{{defaultOrigin}}}">
<meta property="og:title" content="{{{ pageTitle }}}">
<meta property="og:description" content="{{{siteDescription}}}">
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="{{{defaultOrigin}}}">
<meta property="twitter:title" content="{{{ pageTitle }}}">
<meta property="twitter:description" content="{{{siteDescription}}}">

<link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap-index.xml.gz">

<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/icons/apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/icons/apple-touch-icon-152x152.png" />
<link rel="icon" type="image/png" href="/icons/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="/icons/favicon-16x16.png" sizes="16x16" />
<meta name="application-name" content="GEO API PT"/>
<meta name="msapplication-TileColor" content="#FFFFFF" />
<meta name="msapplication-TileImage" content="/icons/mstile-144x144.png" />
<meta name="msapplication-square310x310logo" content="/icons/mstile-310x310.png" />

<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/map.css">
<link rel="stylesheet" href="/css/bootstrap.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<link rel="manifest" href="/manifest.json">
<script src="/register-service-worker.js"></script>