<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8" />
        <title>{{{ pageTitle }}}</title>

        <link rel="shortcut icon" type="image/x-icon" href="{{{defaultOrigin}}}/favicon.ico">

        <meta name="title" content="{{{ pageTitle }}}">
        <meta name="description" content="{{{siteDescription}}}">
        <meta property="og:type" content="website">
        <meta property="og:url" content="{{{defaultOrigin}}}">
        <meta property="og:title" content="{{{ pageTitle }}}">
        <meta property="og:description" content="{{{siteDescription}}}">
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="{{{defaultOrigin}}}">
        <meta property="twitter:title" content="{{{ pageTitle }}}">
        <meta property="twitter:description" content="{{{siteDescription}}}">

        <meta description="{{{siteDescription}}}">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/bootstrap.css">

        \{{{redocHead}}}

        <script>
          function init() {
            document.querySelectorAll('button').forEach(btn => {
              if(btn.innerHTML.includes('Collapse all')) btn.click()
            })

            Array.from(document.getElementById('docsTLDRtable').getElementsByTagName('a')).forEach(el => {
              el.href = '{{{jsonApiOrigin}}}' + (new URL(el.href)).pathname
            })
          }
          window.onload = init
        </script>
    </head>
    <body>
      {{> bodyHeader}}

      <br>
      <center>
        <h2>Documentação da API JSON</h2>
      </center>
      {{> jsonOrHtmlDocs}}

      <center>
        <h3>Documentação simplificada</h3>
      </center>
      {{> docsTLDR}}

      <br><br>

      <center>
        <h3>Documentação completa</h3>
      </center>
      \{{{redocHTML}}}

      {{> footer}}

      <script type="module" src="/js/import-bootstrap.js"></script>
      
    </body>
</html>
